.logowrapper {
  // width: 100%;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  > a {
    //width: 100%;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    /*> div {
      position: relative;
      width: 50px;
      height: 50px;
      border-radius: 10px;
      overflow: hidden;
      margin: 10px 14px 10px 0px;
      cursor: pointer;
      background: #2a3052;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;*/
    > div > svg {
      font-size: 35px;
      color: #1d8df8;
      margin-right: 14px;
    }
    // }
  }
}
/*
.logowrapper.active {
  padding: 1rem 0.4rem;
}
*/
