.Container {
  margin-left: 15rem;
  display: flex;
  padding: 2em;
  align-items: center;
  flex-grow: 1;
  justify-self: center;
  transition: all 1.5s ease-in-out;
  //justify-content: center;
  background-color: #e9e9e9;
}

.Container.active {
  margin-left: 3rem;
}
